name: Test

on: [push]

jobs:
  Linux:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Build Tests
        run: |
          cmake . -B build
          cmake --build build

      - name: Run Tests
        run: build/test/Debug/Test arg1 arg2 3 4

  Windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: cmd

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Build Tests
        run: |
          cmake . -B build
          cmake --build build

      - name: Run Tests
        run: build\test\Debug\Test.exe arg1 arg2 3 4
